* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {
    // font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    overflow-x: hidden;
    // overflow: hidden;

    @include for-mobile-layout {
        // background-color: green;
    }

    @include for-normal-layout {
        // background-color: rgb(57, 83, 4);
    }

    @include for-wide-layout {
        // background-color:lightgreen;
    }


}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    margin: 0 0 0.6em;
    line-height: 1;
}

span {
    margin: 0 0 0.3em;
}

section,
main,
footer {
    padding: 2px;
}

// img {
//     width: 100%;
// }

button {
    cursor: pointer;
}

p {
    margin: 0 0 1em;
    max-width: 40ch;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.router-link-cls:hover {
    text-decoration: unset;
}