// Colors
$clr1: #ce2e6c;
$clr2: #FF395B;
$clr3: #574f7d;
$clr4: #95adbe;

$clr5: #ACACAC;
$clr6: #ffffff;
$clr7: rgba(0, 0, 0, 0.919);
$clr8: #717171;
$clr9: #dad5d5;

$clr10: #222222;
$clr11:#B8B8B8;






// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;