// Colors
$clr1: #ce2e6c;
$clr2: #FF395B;
$clr3: #574f7d;
$clr4: #95adbe;

$clr5: #ACACAC;
$clr6: #ffffff;
$clr7: rgba(0, 0, 0, 0.919);
$clr8: #717171;
$clr9: #dad5d5;


$clr10: #222222;
$clr11: #B8B8B8;
$clr12: rgb(113, 113, 113);
$clr13: radial-gradient(circle at center,
        #FF385C 0%,
        #E61E4D 27.5%,
        #E31C5F 40%,
        #D70466 57.5%,
        #BD1E59 75%,
        #BD1E59 100%) !important;









// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;